SUBSYSTEM=="usb", SYSFS{idVendor}=="2200", ACTION=="add" MODE="0666" GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="2200", ACTION=="add" MODE="0666" GROUP="plugdev"