IDI_ICON1	ICON	DISCARDABLE	"./resources/T3kCmd.ico"

#include "../T3k_ver.h"
#include <windows.h> 

VS_VERSION_INFO VERSIONINFO
FILEVERSION T3000_FILEVERSION
PRODUCTVERSION T3000_FILEVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "Habilience"
            VALUE "FileDescription", "T3k Series Interpreter Program"
            VALUE "FileVersion", T3000_VERSION
            VALUE "InternalName", "T3kCmd.exe"
            VALUE "LegalCopyright", "(c) Habilience.  All rights reserved."
            VALUE "OriginalFilename", "T3kCmd.exe"
            VALUE "ProductName", "T3k Console"
            VALUE "ProductVersion", T3000_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
