IDI_ICON1	ICON	DISCARDABLE	"./resources/T3kSoftlogic.ico"

#include "../../T3k_ver.h"
#include <windows.h> 

VS_VERSION_INFO VERSIONINFO
FILEVERSION T3K_FILEVERSION
PRODUCTVERSION T3K_FILEVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "Habilience"
            VALUE "FileDescription", "T3k Series Softlogic Editor"
            VALUE "FileVersion", T3K_VERSION
            VALUE "InternalName", "T3kSoftlogic.exe"
            VALUE "LegalCopyright", "(c) Habilience.  All rights reserved."
            VALUE "OriginalFilename", "T3kSoftlogic.exe"
            VALUE "ProductName", "T3k Series Softlogic"
            VALUE "ProductVersion", T3K_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
